* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #74aa9e;
}

nav.green {
	background-color: #0026ff75;
	padding: 30px;
}

.section-accueil {
	background-image: url("fond.jpeg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	background-color: #14141f;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #fff;
	color: #14141f;
}

section {
	padding: 100px 0;
}

section h2 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 36px;
}

section ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

section li {
	width: 30%;
}

section li a {
	display: block;
	background-color: #f1f1f1;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	transition: transform 0.3s ease;
}

section li a:hover {
	transform: scale(1.1);
}

section li a img {
	max-width: 100%;
	margin-bottom: 20px;
}

section li a h3 {
	color: #0f97229c;
	font-size: 24px;
	margin-bottom: 10px;
}

section p {
	text-align: center;
	margin-bottom: 50px;
	font-size: 18px;
	line-height: 1.5;
}

section form {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

section form label {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

section form input, section form textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}

section form button {
	background-color: #14141f;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	align-self: flex-end;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

section form button:hover {
	background-color: #fff;
	color: #14141f;
}

footer {
	background-color: #14141f;
	color: #fff;
	padding: 20px;
	margin-top: 100px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

h1{
	text-align: center;

}
